.header {
    background-color: var(--white);
}

.header__container {
    padding-block: 1rem;
}

.header__heading-link {
    text-decoration: none;
}

.header__heading {
    font-size: 2.5rem;
    color: var(--black);
}