.header {
    background-color: var(--white);
    position: relative;
    z-index: 10;
}

.header__container {
    padding-block: 1rem;
}

.header__heading-link {
    text-decoration: none;
}

.header__heading {
    font-size: 2.5rem;
    color: var(--black);
}

.header__nav-toggle {
    width: 2rem;
    height: 1.6rem;
    background: transparent url("/src/assets/icon-hamburger.svg") no-repeat center;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.header__nav-toggle[aria-expanded="true"] {
    background-image: url("/src/assets/icon-close.svg");
}

@media (min-width: 48em) {
    .header__nav-toggle {
        display: none;
    }
}